# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "d4e9b1550107b17f4bec700643f76b66"
name = "price updater"
application_url = "https://shopify-price-app.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = false
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,write_inventory,read_inventory"

[auth]
redirect_urls = [
  "https://shopify-price-app.onrender.com/auth/callback",
  "https://shopify-price-app.onrender.com/auth/shopify/callback",
  "https://shopify-price-app.onrender.com/api/auth/callback"
]
